<div ng-app="newapimodule">	    
	    <form name="forgetpassword_form"  novalidate>
		<div>
		  <div ng-bind="errormessage" style="color:red"></div>
			  <table border="1" style="border:1px solid #cccccc;border-collapse:collapse">
				  <tr>
					  <td>Email</td>		  
					  <td>
						 <input type="text" name="useremail" ng-model="user.email" required>
						 <p ng-show="forgetpassword_form.submitted && forgetpassword_form.useremail.$invalid">
							 Enter Emails
						 </p>
					  </td>		  
				  </tr>
				  
				  <tr>				  
					  <td colspan="2">					 
						 <input type="button" ng-click="sendrecoveremail()" name="Submit" id="submit" value="Submit"/>
					  </td>		  
				  </tr>			  
			  </table>
	    </div>
   </form>
</div>


