<table border="1" width="100%" style="border-collapse:collapse">
		        <tr>
				   <td>Title</td>
				   <td>Content</td>
				   <td>Status</td>                   
				</tr>
				<tr>
					<td>
					  <%= records[0]['title'] %>
					</td>						
					
					<td>
					  <%= records[0]['content'] %>
					</td>						
					
                    <td>
					   <%= records[0]['status'] %>
					</td>                    
				</tr>							 
</table>			
